# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TennisGame_20210224_2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\Github\Repos\TennisGame_20210224_2\.idea\.idea.TennisGame_20210224_2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
